<ng-container>
    <form [formGroup]="myForm">
        <mat-form-field appearance="outline" style="width: 50%;">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" (focusout)="emailValue($event)" required>
            <mat-error *ngIf="myForm.get('email').errors?.required">Email is required</mat-error>
            <mat-error *ngIf="myForm.get('email').errors?.invalid">Invalid email</mat-error>
        </mat-form-field>
    </form>
</ng-container>