<ng-container>
    <form [formGroup]="myForm">
    <mat-form-field appearance="outline" style="width: 50%;">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'text' : 'password'" formControlName="password" (focusout)="passwordValue($event)" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error>Invalid password</mat-error>
    </mat-form-field>
    </form>
</ng-container>