<div class="container">
    <div class="row w-100 mx-0" style="float: right; color: orangered; cursor: pointer;">
        <mat-icon (click)="close()">cancel</mat-icon>
    </div>
    <div class="row w-100 mx-0">
        <div class="col-md-10">
            <h2>{{data?.title}}</h2>
            <p>{{data?.body}}</p>
        </div>
    </div>
</div>
