<mat-toolbar>
    <mat-toolbar-row>
        <span style="color: rgb(29, 20, 160);">My Application</span>
        <div class="float-right">
            <button mat-raised-button color="primary" (click)="logout()">Logout</button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<!-- <h3>Dashboard</h3> -->
<p>Welcome<b>{{ ' ' + currentUser}}</b></p>
<div class="container">
    <div class="row w-100 mx-0">
        <app-table [dataSource]="dataSource" [columnDefs]="tableHeaders" (searchKey)="search($event)"></app-table>
    </div>
</div>