<h4>Welcome !!!</h4>
<div class="container" style="background-color:mintcream;width: 50%;padding: 10px;">
        <p>Enter credentials to login</p>
        <p style="color: lightblue;">(Credentials can be seen in _files folder of app folder)</p>
        <ng-container>
            <app-email (email)="loginEmail($event)"></app-email>
        </ng-container>
        <br>
        <ng-container>
            <app-password (password)="loginPassword($event)"></app-password>
        </ng-container>
            <button mat-raised-button color="primary" type="submit" [disabled]="show === false" (click)="login()">Login</button>
    
</div>
