<form [formGroup]="form">
    <div class="row w-100 mx-0">
        <mat-form-field style="float: right;">
            <input matInput placeholder="Search..." formControlName="search" (input)="search()">
        </mat-form-field>
    </div>
    <mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container [matColumnDef]="columnName" *ngFor="let columnName of displayedColumns" sticky>
            <mat-header-cell *matHeaderCellDef>{{columnName?.toUpperCase()}} <span mat-sort-header *ngIf="columnName !== 'title' && columnName !== 'body'" ></span></mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element[columnName]}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getRecord(row)" style="cursor: pointer;">
        </mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 15]" [pageSize]="pageSize" [length]="100" showFirstLastButtons>
    </mat-paginator>

</form> 